body,
html {
    height: 100%;
}

* {
    box-sizing: border-box;
}

.clearfix {
    overflow: auto;
}

.bg-image {
    background-image: url("Login.jpg");
    background-color: #c19972;
    background-blend-mode: multiply;
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: repeat-y;
    background-size: cover;
}

#content {
    z-index: 10px;
    height: 100%;
}

#profile {
    background-color: black;
    min-height: auto;
    max-height: 100vh;
    padding: 15vh 1vw;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 577px) {
    div.text-large {
        font-size: 50px;
    }
    div.row {
        height: inherit;
    }
    div#profile {
        height: 100% inherit;
    }
    div#info {
        height: 100% inherit;
    }
}

@media screen and (max-width: 576px) {
    div.text-large {
        font-size: 30px;
    }
    div#info {
        margin-top: 10vh;
    }
}

.text-large {
    font-weight: bold;
    /* margin-top: 5vw; */
    color: white;
    text-align: center;
}

.text-nama {
    opacity: 0.9;
    margin-top: 1vw;
    color: white;
    text-align: center;
}

#img-profile {
    max-width: 40%;
    margin: auto;
    display: block;
    padding: 2vw;
}

.btn {
    font-size: 10px;
    background: none;
    margin: 10px auto;
    text-align: center;
    width: 15vw inherit;
    padding: 6px 8px;
    border: 2px solid #ff3838;
    outline: none;
    color: white;
    transition: 0.25s;
    cursor: pointer;
}

.btn:hover {
    background-color: #ff3838;
    color: white;
}


/* #profile-content{
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
} */

#info {
    /* background-color: green; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-content: center; */
}


/* SLIDE SHOW */

.slideshow-container {
    /* background-color: darkorange; */
    background-blend-mode: darken;
    max-width: 100%;
    position: relative;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    /* height: 100%; */
    /* justify-content: space-between; */
}

#info-container {
    width: 1000px;
    /* height: 100%; */
}


/* Hide the images by default */

.mySlides {
    display: none;
    background-color: darkorange;
}


/* Next & previous buttons */

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    /* color: rgb(163, 126, 126); */
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}


/* Position the "next button" to the right */

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}


/* On hover, add a black background color with a little bit see-through */

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}


/* Caption text */

.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}


/* Number text (1/3 etc) */

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}


/* The dots/bullets/indicators */

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}


/* Fading animation */

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}